/* -*-CSS-*- */

ol.learningtimecheck {
    margin-top: 0;
    margin-bottom: 0;
}

ol.learningtimecheck li {
    list-style-type: none;
    line-height:2em;
}

ol.learningtimecheck li.heading {
    background-color:#fbfbfb;
    line-height:1.3em;
    padding:8px;
}

ol.learningtimecheck .useritem {
    font-style: italic;
    color: #404090;
}

ol.learningtimecheck .note {
    font-style: italic;
    color: #a0a0e0;
    padding: 0 0 0 20px;
}

ol.learningtimecheck .itemoptional {
    font-style: italic;
}

.learningtimecheck-optional{
    color:#B0B0B0 !important;
    font-style: italic !important;
}

ol.learningtimecheck .itemheading {
    font-weight: bold;
}

ol.learningtimecheck .teachercomment {
    color: black;
    background-color: #ffffb0;
    border: solid black 1px;
    margin: 0 0 0 20px;
}

ol.learningtimecheck .itemauto.itemdisabled {
    text-decoration: line-through;
    background-color: #bcc4c4;
}

ol.learningtimecheck .itemauto {
    background-color: #d6e6e7;
}

ol.learningtimecheck li .itemuserdate {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 75%;
    z-index: 100;
}

ol.learningtimecheck li .itemteacherdate {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 60%;
    z-index: 100;
}

ol.learningtimecheck li .itemteachername {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 45%;
    z-index: 100;
}

.learningtimecheck-itemdue {
    font-style: italic;
    color: #90d090;
}

.learningtimecheck-itemoverdue {
    font-style: italic;
    color: #f09090;
}

.generaltable tr.r0 .highlighted{
    background-color:#C7E7F8;
}

.generaltable tr.r1 .highlighted{
    background-color:#E1F2FB;
}

.totalizer{
    font-weight:bold;
}

.learningtimecheck-report{
    width:100%;
    border-width:3px;
    border-collapse:separate;
    border-spacing:10px;
}

.learningtimecheck-result{
    background-color:#47B33C;
}

.learningtimecheck-remain-result{
    background-color:#B9282C !important;
    color:white;
}

.learningtimecheck-report .header {
    background-color: #e1e1df;
}

.learningtimecheck-report .head0 {
    font-weight: bold;
}

.learningtimecheck-report .head1 {
    font-weight: normal;
}

.learningtimecheck-report .head2 {
    font-weight: normal;
    font-style: italic;
}

.learningtimecheck-report-columns{
    overflow:auto;
}

.learningtimecheck-report .cell.reportheading {
    background-color: transparent;
    border-radius:0px;
    border:none;
}

.learningtimecheck-report .cell{
    border-radius: 10px 10px 10px 10px;
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.learningtimecheck-report .cell.level0 {
    background-color: #e7e7e7;
    border:1px solid #c7c7c7;
}

.learningtimecheck-report .cell.level1 {
    background-color: #c7c7c7;
    border:1px solid #afafaf;
}

.learningtimecheck-report .cell.level2 {
    background-color: #afafaf;
    border:1px solid #909090;
}

.learningtimecheck-report .cell.level0.optional {
    background-color: #e7e7e7;
    border:1px dashed #c7c7c7;
}

.learningtimecheck-report .cell.level1.optional {
    background-color: #c7c7c7;
    border:1px dashed #afafaf;
}

.learningtimecheck-report .cell.level2.optional {
    background-color: #afafaf;
    border:1px dashed #c7c7c7;
}

.learningtimecheck-report .cell.level0-checked {
    background-color: #00ff00;
}

.learningtimecheck-report .cell.level1-checked {
    background-color: #00df00;
}

.learningtimecheck-report .cell.level2-checked {
    background-color: #00bf00;
}

.learningtimecheck-report .cell.level0-unchecked {
    background-color: #ff0000;
}

.learningtimecheck-report .cell.level1-unchecked {
    background-color: #df0000;
}

.learningtimecheck-report .cell.level2-unchecked {
    background-color: #bf0000;
}

.learningtimecheck-progress-outer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 400px;
    background-color: transparent;
    height: 25px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
}

.learningtimecheck-progressbar {
    padding: 15px 0px 25px 0px;
}

.learningtimecheck-credittime {
    font-size:0.8em;
    border:1px solid #808080;
    display:inline;
    padding:2px;
    border-radius:3px;
    background-color:#9D98C0;
}

.learningtimecheck-progress-inner {
    background-color: #229b15;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 4px #229b15;
    border-radius: 2px;
}

.learningtimecheck-progressthin-outer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 300px;
    background-color: transparent;
    height: 16px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
}

.learningtimecheck-progressthin-inner {
    background-color: #229b15;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 4px #229b15;
    border-radius: 2px;
}

.learningtimecheck-progress-anim {
    background-color: #98c193;
    height: 25px;
    width: 0;
    background-repeat: repeat-x;
    background-position: top;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    display: block;
    box-shadow: 0 0 4px #98c193;
    border-radius: 2px;
}

.learningtimecheckimportexport {
    text-align: right;
    width: 90%;
}

p.learningtimecheckwarning {
    margin-top: 1em;
    color: #800000;
    font-weight: bold;
}

.learningtimecheck-progress-percent {
    padding-left: 0.5em;
}

.jsenabled #learningtimechecksavechecks {
    display: none;
}

#learningtimecheckspinner {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    background-image: url([[pix:i/loading_small]]);
}

.learningtimecheckbox {
    position: relative;
    top: 0;
    left: 0;
}

li.learningtimecheck-item {
    display:table-row;
    width:100%;
    margin-bottom:5px;
}

div.learningtimecheck-data-desc {
    display:table-cell;
    width:70%;
    padding-right:15px;
}

.learningtimecheck-item-desc {
    border-top: 1px solid #efefef;
    display: table-cell;
    vertical-align: top;
    width:50%;
    padding-right:15px;
}

div.learningtimecheck-data-collect {
    text-align:right;
    display:table-cell;
    width:50%;
    font-size:80%;
    background-color:#f0f0f0;
    border-radius:4px;
    margin:2px;
    padding-right:15px;
    border-bottom: 10px solid #e0e0e0;
}

.learningtimecheck-timesettings{
    display:table-cell;
    width:100%;
    clear:both;
    font-size:80%;
}

table.learningtimecheck-timesettings{
    display:table;
}

table.learningtimecheck-timesettings .c2,
table.learningtimecheck-timesettings .c3 {
    background-color:#e5e5e5 !important;
}

table.learningtimecheck-coursecalibration-table .c3,
table.learningtimecheck-coursecalibration-table .c4,
table.learningtimecheck-coursecalibration-table .c5,
table.learningtimecheck-coursecalibration-table .c6 {
    background-color:#e5e5e5 !important;
}

table.learningtimecheck-timesettings{
    display:table;
}

#learningtimecheck-edit .smalltext {
    font-size: 10px;
}

#learningtimecheck-edit .heading {
    background-color:#C0C0C0;
}

#learningtimecheck-edit .heading h2{
    padding:0px 10px 0px 10px;
    margin:2px 0px 2px 0px;
    font-size:1.5em;
}

#learningtimecheck-edit .shadow {
    opacity:0.5;
    -moz-opacity:0.5;
}

.learningtimecheck-data-collect-element,
.learningtimecheck-timesetting-cell{
    display:table-cell;
    width:22%;
    padding:5px 10px 5px 10px;
}

.learningtimecheck-globalsetting-cell{
    float:left;
    display:table-cell;
    width:22%;
    padding:5px 10px 5px 10px;
    font-size:85%;
    vertical-align:bottom;
}

.learningtimecheck-item-caption{
    padding-top:10px;
}

.learningtimecheck-box{
    border:1px solid #d0d0d0;
    padding:10px;
}

.learningtimecheck-useredit-commands{
    margin:10px;
}

.backtocourse-button{
    margin-bottom:20px;
}

.learningtimecheck-advice {
    border:1px solid #e0e0e0;
    margin:5px;
    margin-left:10px;
    padding:20px;
}

.learningtimecheck-timesettings select {
    font-size:0.85em;
    height:2em;
    padding:0px;
}

#learningtimecheck-event-filter {
    background-color:#d0d0d0;
    margin:2px;
    padding:2px;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em; 
    box-shadow:3px 3px 10px #808080;
    margin-bottom:10px;
}

#learningtimecheck-event-filter select,#learningtimecheck-event-filter  input {
    font-size:0.8em !important;
}

.learningtimecheck-filter {
    display:table;
    background-color:#e0e0e0;
    padding:2px;
    border-radius:3px;
    border:1px solid #a0a0a0;
    margin:1px 5px 1px 5px;
}

.learningtimecheck-filter div {
    display:table-cell;
    padding:2px 10px;
}

.learningtimecheck-filter-logop {
    font-weight:bold;
    background-color:#F1F2DB;
}

.learningtimecheck-filter-ruleop {
    font-weight:bold;
    background-color:#F1F2DB;
}

.learningtimecheck-event-filter-error {
    font-style:italic;
    color:red;
}

.learningtimecheck-mark {
    display:inline-block;
    padding:4px;
    border:solid 1px #e0e0e0;
    border-radius:3px;
    min-width:20px
}

.learningtimecheck-mark.studentmark {
    background-color:#eeeeee;
}

.learningtimecheck-mark.teachermark {
    background-color:#cecece;
}

.ltc-time-settings.isdeclarative .c0 {
    background-color:#f9f9f9;
}

.learningtimecheck-mark.studentcheck-checked {
    background-color:#8AFF9C;
}

.learningtimecheck-mark.teachercheck-checked {
    background-color:#5BFA34;
}

.learningtimecheck-mark.teachercheck-unchecked {
    background-color:#FFB08A;
}

#learningtimechecksavechecks {
    margin:4px auto;
}