
ol.ltc {
    margin-top: 0;
    margin-bottom: 0;
}

ol.ltc li {
    list-style-type: none;
    line-height:2em;
}

ol.ltc li.heading {
    line-height: 1.2em;
    padding:8px;
    margin-bottom: 5px;
}

ol.ltc .useritem {
    font-style: italic;
    color: #404090;
}

ol.ltc .note {
    font-style: italic;
    color: #a0a0e0;
    padding: 0 0 0 20px;
}

ol.ltc .itemoptional {
    font-style: italic;
}

.ltc-optional {
    color:#B0B0B0 !important;
    font-style: italic !important;
}

ol.ltc .itemheading {
    font-weight: bold;
}

ol.ltc .teachercomment {
    color: black;
    background-color: #ffffb0;
    border: solid black 1px;
    margin: 0 0 0 20px;
}

ol.ltc .itemauto.itemdisabled {
    text-decoration: line-through;
    background-color: #bcc4c4;
}

ol.ltc .itemauto {
    background-color: #d6e6e7;
}

ol.ltc li .itemuserdate {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 75%;
    z-index: 100;
}

ol.ltc li .itemteacherdate {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 60%;
    z-index: 100;
}

ol.ltc li .itemteachername {
    background-color: #b0ffb0;
    position: absolute;
    width: 10em;
    left: 45%;
    z-index: 100;
}

.ltc-itemdue {
    font-style: italic;
    color: #90d090;
}

.ltc-itemoverdue {
    font-style: italic;
    color: #f09090;
}

.generaltable tr.r0 .highlighted{
    background-color:#C7E7F8;
}

.generaltable tr.r1 .highlighted{
    background-color:#E1F2FB;
}

.totalizer {
    font-weight:bold;
}

.ltc-report {
    width:100%;
    border-width:3px;
    border-collapse:separate;
    border-spacing:10px;
}

.ltc-result {
    background-color:#47B33C;
}

.ltc-remain-result {
    background-color:#B9282C !important;
    color:white;
}

.ltc-report .header {
    background-color: #e1e1df;
}

.ltc-report .head0 {
    font-weight: bold;
}

.ltc-report .head1 {
    font-weight: normal;
}

.ltc-report .head2 {
    font-weight: normal;
    font-style: italic;
}

.ltc-report-columns{
    overflow:auto;
}

.ltc-report .cell.reportheading {
    background-color: transparent;
    border-radius:0px;
    border:none;
}

.ltc-report .cell{
    border-radius: 10px 10px 10px 10px;
    padding:5px;
    -moz-border-radius:10px;
}

.ltc-report .cell {
    background-color: #e7e7e7;
    border:1px solid #c7c7c7;
}

.ltc-report .cell.optional {
    background-color: #e7e7e7;
    border:1px dashed #c7c7c7;
}

.ltc-report .cell-checked {
    background-color: #00ff00;
}

.ltc-report .cell-unchecked {
    background-color: #ff0000;
}

.ltc-progress-required {
    display: flex;
}

.ltc-progress-outer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 400px;
    background-color: transparent;
    height: 25px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
}

.ltc-progressbar {
    padding: 15px 0px 25px 0px;
}

.ltc-bar-box {
    margin: 20px 10px;
    /* display: flex; */
}
.ltc-credittime {
    font-size:0.8em;
    color: #fff;
    border:1px solid #808080;
    display:inline;
    padding:2px;
    border-radius:3px;
    background-color:#9D98C0;
}

.ltc-declaredtime {
    font-size:0.8em;
    color: #000;
    border:1px solid #808080;
    display:inline;
    padding:2px;
    border-radius:3px;
    background-color:#bbf4bb;
}

.ltc-progress-inner {
    background-color: #229b15;
    background-position: top;
    background-repeat: repeat-x;
    border-radius: 2px;
    box-shadow: 0 0 4px #229b15;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.ltc-progressthin-outer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 300px;
    background-color: transparent;
    height: 16px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
}

.ltc-progressthin-inner {
    background-color: #229b15;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 4px #229b15;
    border-radius: 2px;
}

.ltc-progressthin-inner.both {
    height: 50%;
}

.ltc-progressthin-inner.both.progress2 {
    top: 7px;
}

.ltc-progress-anim {
    background-color: #98c193;
    height: 25px;
    width: 0;
    background-repeat: repeat-x;
    background-position: top;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    display: block;
    box-shadow: 0 0 4px #98c193;
    border-radius: 2px;
}

.ltc-importexport {
    text-align: right;
    width: 90%;
}

p.ltc-warning {
    margin-top: 1em;
    color: #800000;
    font-weight: bold;
}

.ltc-progress-percent {
    padding-left: 0.5em;
}

.jsenabled #ltc-savechecks {
    display: none;
}

#ltc-spinner {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    background-image: url([[pix:i/loading_small]]);
}

.ltc-box {
    position: relative;
    top: 0;
    left: 0;
}

#ltc-outer {
    margin-bottom: 10px;
}

li.ltc-item {
    display:table-row;
    width:100%;
    margin-bottom:5px;
}

div.ltc-data-desc {
    display:table-cell;
    width:70%;
    padding-right:15px;
}

.ltc-item-desc {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 15px;
}

div.ltc-data-collect {
    text-align: right;
    display: table-cell;
    width: 50%;
    font-size: 80%;
    border-radius: 4px;
    margin: 2px;
}

div.ltc-data-collect div {
    float:right;
}

.ltc-timesettings{
    display:table-cell;
    width:100%;
    clear:both;
    font-size:80%;
}

table.ltc-timesettings{
    display:table;
}

table.ltc-timesettings select {
    width:initial;
}

table.ltc-timesettings .c2,
table.ltc-timesettings .c3 {
    background-color:#e5e5e5 !important;
}

table.ltc-coursecalibration-table .c3,
table.ltc-coursecalibration-table .c4,
table.ltc-coursecalibration-table .c5,
table.ltc-coursecalibration-table .c6 {
    background-color:#e5e5e5 !important;
}

table.ltc-timesettings{
    display:table;
}

#ltc-edit .smalltext {
    font-size: 10px;
}

#ltc-edit .heading {
    background-color:#C0C0C0;
}

#ltc-edit .heading h2{
    padding:0px 10px 0px 10px;
    margin:2px 0px 2px 0px;
    font-size:1.5em;
}

#ltc-edit .shadow {
    opacity:0.5;
    -moz-opacity:0.5;
}

.ltc-data-collect-element{
    display:table-cell;
    padding:5px 10px 5px 10px;
}

.ltc-data-collect-element.teachermarks{
/*    background-color:#e5e5e5; */
}

.ltc-timesetting-cell{
    display:table-cell;
    width:22%;
    padding:5px 10px 5px 10px;
}

.ltc-globalsetting-cell{
    float:left;
    display:table-cell;
    width:22%;
    padding:5px 10px 5px 10px;
    font-size:85%;
    vertical-align:bottom;
}

.ltc-item-caption{
    padding-top:10px;
}

.ltc-box{
    border:1px solid #d0d0d0;
    padding:10px;
}

.ltc-useredit-commands{
    margin:10px;
}

.backtocourse-button{
    margin-bottom:20px;
}

.ltc-advice {
    border:1px solid #e0e0e0;
    margin:5px;
    margin-left:10px;
    padding:20px;
}

.ltc-timesettings select {
    font-size:0.85em;
    height:2em;
    padding:0px;
}

#ltc-event-filter {
    background-color:#d0d0d0;
    margin:2px;
    padding:2px;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em; 
    box-shadow:3px 3px 10px #808080;
    margin-bottom:10px;
}

#ltc-event-filter select,#ltc-event-filter  input {
    font-size:0.8em !important;
}

.ltc-filter {
    display:table;
    background-color:#e0e0e0;
    padding:2px;
    border-radius:3px;
    border:1px solid #a0a0a0;
    margin:1px 5px 1px 5px;
}

.ltc-filter div {
    display:table-cell;
    padding:2px 10px;
}

.ltc-filter-logop {
    font-weight:bold;
    background-color:#F1F2DB;
}

.ltc-filter-ruleop {
    font-weight:bold;
    background-color:#F1F2DB;
}

.ltc-event-filter-error {
    font-style:italic;
    color:red;
}

.ltc-mark {
    display:inline-block;
    padding:4px;
    border:solid 1px #e0e0e0;
    border-radius:3px;
    min-width:20px
}

.ltc-mark.studentmark {
    background-color:#eeeeee;
}

.ltc-mark.teachermark {
/*    background-color:#cecece; */
}

.ltc-time-settings.isdeclarative .c0 {
    background-color:#f9f9f9;
}

.ltc-mark.studentcheck-checked {
    background-color:#8AFF9C;
}

.ltc-mark.teachercheck-checked {
    background-color:#5BFA34;
}

.ltc-mark.teachercheck-unchecked {
    background-color:#FFB08A;
}

#ltc-savechecks {
    margin:4px auto;
}

.ltc-item-pix {
    width: 20px;
    height: 40px;
}

.ltc-report .activityicon {
    margin: auto;
    margin-bottom: 10px;
}

.ltc-icon-medium {
    max-width: 400px;
    max-height: 40px;
}

.cltc-header .vertical-text {
    writing-mode: vertical-rl;
}

.cltc-header:first-child .vertical-text {
    writing-mode: initial;
}

#ltc-name-filter .firstname-selected,
#ltc-name-filter .name-selected {
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    color: white;
    background-color: #888;
}