

<!-- mod_learningtimecheck/collectform -->
<div class="ltc-data-collect">

    {{^isheading}}

    {{#showteachermark}}
    <div class="ltc-data-collect-element teachermarks">
        {{#viewother}}
            {{#str}}teachermark, learningtimecheck{{/str}}
            {{{teachermarkselect}}}
        {{/viewother}}
        {{^viewother}}
            <img src="{{{imgurl}}}" alt="{{titletext}}" title="{{titletext}}" />
        {{/viewother}}
    </div>
    {{/showteachermark}}

    {{#isdeclarative}}

        {{#teacherdeclaration}}
        {{#viewother}}
            <div class="ltc-data-collect-element">
                {{#str}}teachertimetodeclareperuser, learningtimecheck{{/str}}
                {{{teacherdeclarativeperuserselect}}}
            </div>

            {{#studenthastime}}
            {{#str}}studenthasdeclared, learningtimecheck, declaredtime{{/str}}
            {{/studenthastime}}
        {{/viewother}}

        {{^viewother}}
            <div class="ltc-data-collect-element">
                {{#str}}teachertimetodeclare, learningtimecheck{{/str}}
                {{{teacherdeclarativeselect}}}
            </div>
        {{/viewother}}
        {{/teacherdeclaration}}

        {{#studentdeclaration}}
            {{^viewother}}
            <div class="ltc-data-collect-element">
                {{#str}}timetodeclare, learningtimecheck{{/str}}
                {{{studentdeclarativeselect}}}
            </div>
            {{/viewother}}
        {{/studentdeclaration}}
    {{/isdeclarative}}

    {{/isheading}}
</div>
<!-- /mod_learningtimecheck/collectform -->
