


<!- mod_learningtimecheck/delta_cms -->
<div class="deltas">
    <div class="delta-caption">
        <form action="{{{formurl}}}" id="delta-user-form">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        {{{userselect}}}
        </form>
    </div>

    <div class="delta-caption">
        {{#str}}deltas, learningtimecheck{{/str}}
    </div>

    <div class="delta-cms">
        {{#cms}}
        {{> mod_learningtimecheck/delta_cm }}
        {{/cms}}
    </div>
</div>
<!- /mod_learningtimecheck/delta_cms -->