

<!-- mod_learningtimecheck/edit_item_form -->
<form style="display:inline;" action="{{{formurl}}}" method="post">
    {{{hiddenparams}}}
    {{{pageparams}}}
    <input type="hidden" name="what" value="additem" />
    <input type="hidden" name="position" value="{{position}}" />
    <input type="hidden" name="indent" value="{{indent}}" />

    <input type="checkbox" name="isoptional" value="1" title="{{#str}}uncheckoptional, learningtimecheck{{/str}}" checked />
    <input type="text" size="{{size}}" name="displaytext" value="" id="additembox" />

    <input type="submit" name="additem" value="{{#str}}additem, learningtimecheck{{/str}}" />
    <input type="button" name="canceledititem" value="{{#str}}canceledititem, learningtimecheck{{/str}}"
           onclick="cancel_add_item_form('{{id}}')" />
</form>
<!-- /mod_learningtimecheck/edit_item_form -->
