


<!-- mod_learningtimecheck/event_filter -->
<div id="ltc-event-filter">
    {{#haserrors}}
    <div class="ltc-event-filter-error">{{filtererrorstr}}</div>
    {{/haserrors}}


    <div id="ltc-event-filter-reduced">
        <a id="ltc-event-filter-toggle-handle" href="#" aria-expanded="false"><i class="fa fa-plus"></i></a> {{#str}}filtering, learningtimecheck{{/str}}
    </div>

    <div id="ltc-event-filter-form" style="display:none">
        <form action="{{{actionurl}}}" method="get">
            {{{hiddenparams}}}

            {{#filterrules}}
            <div class="ltc-filter">

                <div class="ltc-filter-logop">
                    {{#haslogop}}
                    {{{logopstr}}}
                    {{/haslogop}}
                </div>

                <div class="ltc-filter-rule">
                    {{{rulestr}}}
                </div>

                <div class="ltc-filter-ruleop">
                    {{{ruleop}}}
                </div>

                <div class="ltc-filter-date-time">
                    {{{ruledate}}}
                </div>

                <a href="{{{deleteurl}}}">{{#pix}}t/delete, core{{/pix}}</a>

            </div>
            {{/filterrules}}

            <a id="ltc-add-rule" data-cmid="{{id}}" data-component="{{component}}" data-view="{{view}}" data-itemid="{{itemid}}">{{#pix}}add, learningtimecheck{{/pix}}</a>
        </form>

        <div id="ltc-filter-new-rule" class="hidden"></div>
    </div>
</div>
<!-- mod_learingtimecheck/event_filter -->