


<!-- mod_learningtimecheck/export_pdf_button -->
<form style="display: inline;" action="{{{formurl}}}" method="get" target="_blanck">
<input type="hidden" name="id" value="{{courseid}}" />
<input type="hidden" name="sesskey" value="{{sesskey}}" />
<input type="hidden" name="exporttype" value="course" />
<input type="hidden" name="output" value="pdf" />
<input type="hidden" name="detail" value="0" />
<input type="hidden" name="itemid" value="{{courseid}}" />

{{#userid}}
<input type="hidden" name="user" value="{{userid}}" />
{{/userid}}
{{^userid}}
<input type="hidden" name="groupid" value="{{groupid}}" />
<input type="hidden" name="groupingid" value="{{groupingid}}" />
{{/userid}}

<input type="submit" name="exportpdf" value="{{#str}}exportpdf, learningtimecheck{{/str}}" />
</form>
<!-- /mod_learningtimecheck/export_pdf_button -->
