


<!-- mod_learningtimecheck/filter_rule_form -->
<form name="newfilterruleform" action="{{{newruleurl}}}" >
    <input type="hidden" name="what" value="newfilterrule" />
    {{{hiddenparams}}}

    {{^isfirst}}
        {{{logopselect}}}
    {{/isfirst}}

    {{{ruleselect}}}
    {{{ruleopselect}}}
    <input id="ltc-time" name="datetime" type="text" />

    <script type="text/javascript">
    // $('#ltc-time').datetimebox({required:true});
    </script>

    <input type="submit" name="go-filter" value="{{#str}}save, learningtimecheck{{/str}}" />
    <input id="ltc-new-rule-cancel" type="button" name="cancel-filter" value="{{#str}}cancel{{/str}}" />
</form>
<!-- /mod_learningtimecheck/filter_rule_form -->