

<!-- mod_learningtimecheck/global_counters -->
<div class="ltc-globals">
<table class="generaltable" width="100%">
    <tr>
        {{#hasseveralinstances}}
        <th class="header">
            {{#str}}instancetotaltime, learningtimecheck{{/str}}
        </th>

        <td class="cell">
            {{#haslocaloptionaltime}}
                {{#str}}mandatory, learningtimecheck{{/str}}: {{localmandatorytime}}<br/>
                {{#str}}optional, learningtimecheck{{/str}}: {{localoptionaltime}}
            {{/haslocaloptionaltime}}
            {{^haslocaloptionaltime}}
                {{localtime}}
            {{/haslocaloptionaltime}}
        </td>
        {{/hasseveralinstances}}

        <th class="header">
            {{#str}}coursetotaltime, learningtimecheck{{/str}}
        </th>

        <td class="cell">
            {{#hastotaloptionaltime}}
                {{#str}}mandatory, learningtimecheck{{/str}}: {{totalmandatorytime}}<br/>
                {{#str}}optional, learningtimecheck{{/str}}: {{totaloptionaltime}}
            {{/hastotaloptionaltime}}
            {{^hastotaloptionaltime}}
                {{totaltime}}
            {{/hastotaloptionaltime}}
        </td>

        <th class="header">
            {{#str}}totalcourseratio, learningtimecheck{{/str}}
        </th>

        <td class="cell">
            {{#haslocaloptionaltime}}
                {{#str}}mandatory, learningtimecheck{{/str}}: {{mandatoryratio}} %<br/>
                {{#str}}optional, learningtimecheck{{/str}}: {{optionalratio}} %
            {{/haslocaloptionaltime}}
            {{^haslocaloptionaltime}}
               {{ratio}} %
            {{/haslocaloptionaltime}}
        </td>

        <th class="header">
            {{#str}}coursetotalitems, learningtimecheck{{/str}}
        </th>

        <td class="cell">
            {{#hasmandatoryitems}}
                {{#str}}mandatory, learningtimecheck{{/str}}: {{mandatorycount}} {{#str}}items, learningtimecheck{{/str}}</br>
            {{/hasmandatoryitems}}
            {{#hasoptionalitems}}
                {{#str}}optional, learningtimecheck{{/str}}: {{optionalcount}} {{#str}}items, learningtimecheck{{/str}}
            {{/hasoptionalitems}}
        </td>
    </tr>
</table>
</div>
<!-- /mod_learningtimecheck/global_counters -->
