

<!-- mod_learningtimecheck/next_user_button -->
<form style="display: inline;" action="{{{formurl}}}">
    {{{hiddenparams}}}
    <input type="hidden" name="what" value="seeknext" />
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="submit" name="seeknext" value="{{#str}}next{{/str}}}}" />
</form>
<!-- mod_learningtimecheck/next_user_button -->
