

<!-- mod_learningtimecheck/prev_user_button -->
<form style="display: inline;" action="{{{formurl}}}">
    {{{hiddenparams}}}
    <input type="hidden" name="what" value="seekprev" />
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="submit" name="seekprev" value="{{#str}}previous{{/str}}}}" />
</form>
<!-- mod_learningtimecheck/prev_user_button -->
