

<!-- mod_learningtimecheck/progressthin -->
<div class="ltc-progressthin-outer">
    {{#percentcomplete1}}
    <div class="ltc-progressthin-inner progress1 {{class}}" style="width:{{value}}%; background-image: url({{{pixurl}}});" >&nbsp;</div>
    {{/percentcomplete1}}

    {{#percentcomplete2}}
    <div class="ltc-progressthin-inner progress2 {{class}}" style="width:{{value}}%; background-image: url({{pixurl}});" >&nbsp;</div>
    {{/percentcomplete2}}

</div>
<br/>
<div style="text-align:center">
    {{#percentcomplete1}}
    {{value}} % {{#str}}items, learningtimecheck{{/str}}
    {{/percentcomplete1}}

    {{#percentcomplete2}}
    {{value}} % {{#str}}time, learningtimecheck{{/str}}
    {{/percentcomplete2}}
</div>
<!-- /mod_learningtimecheck/progressthin -->
