.combobox-item,
.combobox-group {
    font-size: 12px;
    padding: 3px;
    padding-right: 0;
}
.combobox-item-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.combobox-gitem {
    padding-left: 10px;
}
.combobox-group {
    font-weight: bold;
}
.combobox-item-hover {
    background-color: #eaf2ff;
    color: #000;
}
.combobox-item-selected {
    background-color: #ffe48d;
    color: #000;
}
