/* stylelint-disable no-duplicate-properties */

.datagrid .panel-body {
    overflow: hidden;
    position: relative;
}
.datagrid-view {
    overflow: hidden;
    position: relative;
}
.datagrid-view1,
.datagrid-view2 {
    overflow: hidden;
    position: absolute;
    top: 0;
}
.datagrid-view1 {
    left: 0;
}
.datagrid-view2 {
    right: 0;
}
.datagrid-mask {
    display: none;
    filter: alpha(opacity=30);
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.datagrid-mask-msg {
    border-style: solid;
    border-width: 2px;
    display: none;
    height: 16px;
    margin-top: -20px;
    padding: 10px 5px 10px 30px;
    position: absolute;
    top: 50%;
    width: auto;
}
.datagrid-sort-icon {
    padding: 0;
}
.datagrid-toolbar {
    border-style: solid;
    border-width: 0 0 1px 0;
    height: auto;
    padding: 1px 2px;
}
.datagrid-btn-separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 24px;
    margin: 2px 1px;
}
.datagrid .datagrid-pager {
    border-style: solid;
    border-width: 1px 0 0 0;
    display: block;
    margin: 0;
}
.datagrid .datagrid-pager-top {
    border-width: 0 0 1px 0;
}
.datagrid-header {
    border-style: solid;
    border-width: 0 0 1px 0;
    cursor: default;
    overflow: hidden;
}
.datagrid-header-inner {
    float: left;
    width: 10000px;
}
.datagrid-header-row,
.datagrid-row {
    height: 25px;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-style: dotted;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: normal;
}
.datagrid-header .datagrid-cell {
    height: auto;
}
.datagrid-header .datagrid-cell span {
    font-size: 12px;
}
.datagrid-cell-group {
    text-align: center;
}
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25px;
}
.datagrid-body {
    margin: 0;
    overflow: auto;
    padding: 0;
    zoom: 1;
}
.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 20px;
}
.datagrid-view1 .datagrid-body {
    overflow: hidden;
}
.datagrid-footer {
    overflow: hidden;
}
.datagrid-footer-inner {
    border-style: solid;
    border-width: 1px 0 0 0;
    float: left;
    width: 10000px;
}
.datagrid-row-editing .datagrid-cell {
    height: auto;
}
.datagrid-header-check,
.datagrid-cell-check {
    font-size: 1px;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 27px;
}
.datagrid-header-check input,
.datagrid-cell-check input {
    height: 18px;
    margin: 0;
    padding: 0;
    width: 15px;
}
.datagrid-resize-proxy {
    cursor: e-resize;
    display: none;
    height: 10000px;
    position: absolute;
    top: 0;
    width: 1px;
}
.datagrid-body .datagrid-editable {
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable table {
    height: 100%;
    width: 100%;
}
.datagrid-body .datagrid-editable td {
    border: 0;
    margin: 0;
    padding: 0;
}
.datagrid-view .datagrid-editable-input {
    border: 1px solid #95b8e7;
    border-radius: 0 0 0 0;
    font-size: 12px;
    margin: 0;
    outline-style: none;
    padding: 2px 4px;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}
.datagrid-sort-desc .datagrid-sort-icon {
    background: url('images/datagrid_icons.png') no-repeat -16px center;
    padding: 0 13px 0 0;
}
.datagrid-sort-asc .datagrid-sort-icon {
    background: url('images/datagrid_icons.png') no-repeat 0 center;
    padding: 0 13px 0 0;
}
.datagrid-row-collapse {
    background: url('images/datagrid_icons.png') no-repeat -48px center;
}
.datagrid-row-expand {
    background: url('images/datagrid_icons.png') no-repeat -32px center;
}
.datagrid-mask-msg {
    background: #fff url('images/loading.gif') no-repeat scroll 5px center;
}
.datagrid-header,
.datagrid-td-rownumber {
    background: -webkit-linear-gradient(top, #f9f9f9 0, #efefef 100%);
    background: -moz-linear-gradient(top, #f9f9f9 0, #efefef 100%);
    background: -o-linear-gradient(top, #f9f9f9 0, #efefef 100%);
    background: linear-gradient(to bottom, #f9f9f9 0, #efefef 100%);
    background-color: #efefef;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#efefef, GradientType=0);
}
.datagrid-cell-rownumber {
    color: #000;
}
.datagrid-resize-proxy {
    background: #aac5e7;
}
.datagrid-mask {
    background: #ccc;
}
.datagrid-mask-msg {
    border-color: #95b8b7;
}
.datagrid-toolbar,
.datagrid-pager {
    background: #f4f4f4;
}
.datagrid-header,
.datagrid-toolbar,
.datagrid-pager,
.datagrid-footer-inner {
    border-color: #ddd;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-color: #ccc;
}
.datagrid-htable,
.datagrid-btable,
.datagrid-ftable {
    color: #000;
    border-collapse: separate;
}
.datagrid-row-alt {
    background: #fafafa;
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    background: #eaf2ff;
    color: #000;
    cursor: default;
}
.datagrid-row-selected {
    background: #ffe48d;
    color: #000;
}
.datagrid-row-editing .textbox,
.datagrid-row-editing .textbox-text {
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}
