.layout {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 0;
}
.layout-panel {
    position: absolute;
    overflow: hidden;
}
.layout-panel-east,
.layout-panel-west {
    z-index: 2;
}
.layout-panel-north,
.layout-panel-south {
    z-index: 3;
}
.layout-expand {
    cursor: pointer;
    font-size: 1px;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.layout-expand .panel-header,
.layout-expand .panel-body {
    background: transparent;
    filter: none;
    overflow: hidden;
}
.layout-expand .panel-header {
    border-bottom-width: 0;
}
.layout-split-proxy-h,
.layout-split-proxy-v {
    display: none;
    font-size: 1px;
    position: absolute;
    z-index: 5;
}
.layout-split-proxy-h {
    cursor: e-resize;
    width: 5px;
}
.layout-split-proxy-v {
    cursor: n-resize;
    height: 5px;
}
.layout-mask {
    background: #fafafa;
    filter: alpha(opacity=10);
    opacity: 0.10;
    position: absolute;
    z-index: 4;
}
.layout-button-up {
    background: url('images/layout_arrows.png') no-repeat -16px -16px;
}
.layout-button-down {
    background: url('images/layout_arrows.png') no-repeat -16px 0;
}
.layout-button-left {
    background: url('images/layout_arrows.png') no-repeat 0 0;
}
.layout-button-right {
    background: url('images/layout_arrows.png') no-repeat 0 -16px;
}
.layout-split-proxy-h,
.layout-split-proxy-v {
    background-color: #aac5e7;
}
.layout-split-north {
    border-bottom: 5px solid #e6eef8;
}
.layout-split-south {
    border-top: 5px solid #e6eef8;
}
.layout-split-east {
    border-left: 5px solid #e6eef8;
}
.layout-split-west {
    border-right: 5px solid #e6eef8;
}
.layout-expand {
    background-color: #e0ecff;
}
.layout-expand-over {
    background-color: #e0ecff;
}
