.messager-body {
    overflow: hidden;
    padding: 10px;
}
.messager-button {
    padding-top: 10px;
    text-align: center;
}
.messager-button .l-btn {
    width: 70px;
}
.messager-icon {
    float: left;
    height: 32px;
    margin: 0 10px 10px 0;
    width: 32px;
}
.messager-error {
    background: url('images/messager_icons.png') no-repeat scroll -64px 0;
}
.messager-info {
    background: url('images/messager_icons.png') no-repeat scroll 0 0;
}
.messager-question {
    background: url('images/messager_icons.png') no-repeat scroll -32px 0;
}
.messager-warning {
    background: url('images/messager_icons.png') no-repeat scroll -96px 0;
}
.messager-progress {
    padding: 10px;
}
.messager-p-msg {
    margin-bottom: 5px;
}
.messager-body .messager-input {
    border: 1px solid #95b8e7;
    padding: 1px 0;
    width: 100%;
}
