.progressbar {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.progressbar-text {
    position: absolute;
    text-align: center;
}
.progressbar-value {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    position: relative;
    width: 0;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}
.progressbar {
    border-color: #95b8e7;
}
.progressbar-text {
    color: #000;
    font-size: 12px;
}
.progressbar-value .progressbar-text {
    background-color: #ffe48d;
    color: #000;
}
