.propertygrid .datagrid-view1 .datagrid-body td {
    border-width: 0 1px 0 0;
    padding-bottom: 1px;
}
.propertygrid .datagrid-group {
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 21px;
    overflow: hidden;
}
.propertygrid .datagrid-group span {
    font-weight: bold;
}
.propertygrid .datagrid-view1 .datagrid-body td {
    border-color: #ddd;
}
.propertygrid .datagrid-view1 .datagrid-group {
    border-color: #e0ecff;
}
.propertygrid .datagrid-view2 .datagrid-group {
    border-color: #ddd;
}
.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected {
    background: #e0ecff;
}
