/* stylelint-disable no-duplicate-properties */

.spinner {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}
.spinner .spinner-text {
    border: 0;
    font-size: 12px;
    margin: 0;
    padding: 0 2px;
    vertical-align: baseline;
}
.spinner-arrow {
    background-color: #e0ecff;
    display: inline-block;
    filter: alpha(opacity=100);
    margin: 0;
    opacity: 1.0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 18px;
}
.spinner-arrow-up,
.spinner-arrow-down {
    display: block;
    filter: alpha(opacity=60);
    font-size: 1px;
    height: 10px;
    height: 50%;
    outline-style: none;
    opacity: 0.6;
    width: 18px;
    width: 100%;
}
.spinner-arrow-hover {
    background-color: #eaf2ff;
    filter: alpha(opacity=100);
    opacity: 1.0;
}
.spinner-arrow-up:hover,
.spinner-arrow-down:hover {
    background-color: #eaf2ff;
    filter: alpha(opacity=100);
    opacity: 1.0;
}
.textbox-icon-disabled .spinner-arrow-up:hover,
.textbox-icon-disabled .spinner-arrow-down:hover {
    background-color: #e0ecff;
    cursor: default;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.spinner .textbox-icon-disabled {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.spinner-arrow-up {
    background: url('images/spinner_arrows.png') no-repeat 1px center;
}
.spinner-arrow-down {
    background: url('images/spinner_arrows.png') no-repeat -15px center;
}
.spinner {
    border-color: #95b8e7;
}
