.textbox {
    background-color: #fff;
    border: 1px solid #95b8e7;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.textbox .textbox-text {
    border: 0;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    margin: 0;
    outline-style: none;
    padding: 4px;
    resize: none;
    vertical-align: top;
    white-space: normal;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.textbox .textbox-prompt {
    color: #aaa;
    font-size: 12px;
}
.textbox-button,
.textbox-button:hover {
    border-radius: 0 0 0 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}
.textbox-button-right,
.textbox-button-right:hover {
    border-width: 0 0 0 1px;
}
.textbox-button-left,
.textbox-button-left:hover {
    border-width: 0 1px 0 0;
}
.textbox-addon {
    position: absolute;
    top: 0;
}
.textbox-icon {
    background-position: center center;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    filter: alpha(opacity=60);
    opacity: 0.6;
    outline-style: none;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    width: 18px;
}
.textbox-icon-disabled,
.textbox-icon-readonly {
    cursor: default;
}
.textbox-icon:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}
.textbox-icon-disabled:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.textbox-focused {
    box-shadow: 0 0 3px 0 #95b8e7;
    -moz-box-shadow: 0 0 3px 0 #95b8e7;
    -webkit-box-shadow: 0 0 3px 0 #95b8e7;
}
.textbox-invalid {
    background-color: #fff3f3;
    border-color: #ffa8a8;
}
