/* stylelint-disable no-duplicate-properties */

.window {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 5px;
}
.window .window-header {
    background: transparent;
    padding: 0 0 6px 0;
}
.window .window-body {
    border-style: solid;
    border-width: 0 1px 1px 1ps;
}
.window .window-body-noheader {
    border-top-width: 1px;
}
.window .panel-body-nobottom {
    border-bottom-width: 0;
}
.window .window-header .panel-icon,
.window .window-header .panel-tool {
    margin-top: -11px;
    top: 50%;
}
.window .window-header .panel-icon {
    left: 1px;
}
.window .window-header .panel-tool {
    right: 1px;
}
.window .window-header .panel-with-icon {
    padding-left: 18px;
}
.window-proxy {
    overflow: hidden;
    position: absolute;
}
.window-proxy-mask {
    filter: alpha(opacity=5);
    opacity: 0.05;
    position: absolute;
}
.window-mask {
    filter: alpha(opacity=40);
    font-size: 1px;
    height: 100%;
    left: 0;
    opacity: 0.40;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.window,
.window-shadow {
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.window-shadow {
    background: #ccc;
    box-shadow: 2px 2px 3px #ccc;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false, ShadowOpacity=0.2);
    -moz-box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
}
.window,
.window .window-body {
    border-color: #95b8e7;
}
.window {
    background: -webkit-linear-gradient(top, #eff5ff 0, #e0ecff 20%);
    background: -moz-linear-gradient(top, #eff5ff 0, #e0ecff 20%);
    background: -o-linear-gradient(top, #eff5ff 0, #e0ecff 20%);
    background: linear-gradient(to bottom, #eff5ff 0, #e0ecff 20%);
    background-color: #e0ecff;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff5ff, endColorstr=#e0ecff, GradientType=0);
}
.window-proxy {
    border: 1px dashed #95b8e7;
}
.window-proxy-mask,
.window-mask {
    background: #ccc;
}
.window .panel-footer {
    border: 1px solid #95b8e7;
    position: relative;
    top: -1px;
}
